<main id="root"></main>

<% if logged_in? %>
      <script>
            window.currentPlayer = {
                "id": "<%= current_player.id %>",
                "email": "<%= current_player.email %>",
                "fname": "<%= current_player.fname %>",
                "lname": "<%= current_player.lname %>",
            };
      </script>
<% end %>
