.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  width: 400px;
  border-radius: 5px;
  padding: 30px 16px;
  background-color: white;
  position: absolute;
  font-size: 15px;
}

.first-message-column-modal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 16px;
  border-bottom: 1px solid #dadada;
  
  h1 {
    font-size: 22px;
  }
}

.modal-input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.auth-button {
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #da3743;
  border: 1px solid #da3743;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  margin-bottom: 20px;
}

.break-auth {
  width: 100%;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.demouser-button {
  color: #2d333f;
  background-color: white;
  border: 1px solid rgb(218, 218, 218);
  font-size: 15px;
  span {
    font-weight: bold;
  }
}

.demouser-form {
  margin: 16px 0px 0px 0px;
  padding: 5px;
  div {
    display: block;
    margin-bottom: 15px;
  }
}

#span-for-new {
  font-weight: normal;
  padding: 5px;
}

.btn-sign-in-login {
  display: inline;
  font-weight: bold;
  color: #da3743;
  cursor: pointer;
}