$max-width: 1600px;
$medium-width: 1050px;
$small-size: 750px; 
$primary-font: system-ui;
$grey-color: #dadada;
$red-color: #da3743;
$blue-color: #247f9e;
$white-grey: #f7f7f7;
$light-blue: #eef8fb;
$light-red: #fceeef;
$light-green: #f0faf3;

* {
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    max-width: $max-width;
    height: 100%;
}

.home-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-color;
    background-color: white;

    .home-nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 3vh;
        
        i {
            font-size: 2vh;
            padding: 12%;
        }

        .search-logo {
            padding: 0 18%;
            border-left: 1px solid #dadada;
        }
    }

    .home-nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-left: 3vh;
        
        img {
            height: 40px;
        }

        .clone-name {
            font-weight: bold;
            padding-left: 2%;
            font-family: system-ui;
        }
    }
}

.home-page-header-frame {
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    
    .home-page-img {
        height: 100%;
    }
    
    .grey-background {
        background-color: #552c2f85;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.main-page {
    padding: 0 10%;
    width: 100%;
    display: grid;
    row-gap: 30px;
    margin-top: 30px;

    .list-of-gps {
        display: grid;
        grid-template-rows: 50px auto;
        width: 100%;
        height: 380px;
        
        span:first-child {
            font-size: 20px;
            font-weight: bold;
            height: 100%;
        }

        .gp-list {
            height: 100%;
            width: 100%;
            padding-top: 2%;
            border-top: 1px solid $grey-color;
            overflow: scroll;
            overflow-y: hidden;
            display: flex;

            .game-place-i:hover {
                position: relative;
                top: -5px;
                box-shadow: 0px 2px 5px $grey-color;
                
            }

            .game-place-i {
                border: 1px solid $grey-color;
                display: inline-block;
                margin: 6px;
                max-width: 235px;
                
                .avatar img {
                    width: 100%;
                    padding-bottom: 5%;
                    width: 234px;
                    min-height: 132px;
                }

                i {
                    color: $red-color;
                }

                .info-box {
                    grid-row-start: 2;
                    position: relative;
                    height: inherit;
                    display: grid;
                    grid-template-rows: repeat(4, 23px);
                    padding-left: 15px;
                    overflow: hidden;
                    width: 94%;
                    
                    .title {
                        height: 23px;
                        width: 150%;
                        position: relative;
                        left: 0;
                        top: 0;
                    }

                    .city {
                        font-size: 14px;
                    }

                    .rating {
                        display: flex;

                        .stars-outer {
                            padding-right: 5px;
                        }

                        div {
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .booked {
                        font-weight: 700;
                        padding-left: 5px;
                    }

                    .booked-icon {
                        display: flex;
                        align-items: center;

                        i {
                            color: black;
                        }

                        div {
                            font-size: 12px;
                        }
                    }
                }
            
                .info-box div:first-child {
                    font-weight: bold;
                }



            }
        
        }
    }
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #d2d1d1;
}

.stars-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: $red-color;
}

.search-box-main {
    position: absolute;
    left: 50%;
    margin-left: -50vh;
    top: 6%;
    height: 13vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-text-main {
    color: white;
    font-size: 5vh;
}

.search {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 48% 32% 17%;
    column-gap: 1.5%;
    width: 100%;
    justify-content: space-between;
    height: 90%;
    z-index: 1;
}

.search-reserv-info {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    margin-right: 10px;
    width: 100%;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 100%;

    .info-create-form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        select {
            border: none;
            position: relative;
            top: 0;
            width: 70%;
            height: 100%;
            text-align: right;
        }
    }

    .info-create-time {
        border-right: 0.5px solid $grey-color;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        select {
            border: none;
            position: relative;
            top: 0;
            width: 70%;
            height: 100%;
            text-align: right;
        }
    }

    .info-create-date {
        border-right: 0.5px solid $grey-color;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .fa-chevron-down {
            font-size: 12px;
        }

        .parent-calendar-box {
            border: none;
            display: flex;
            align-items: center;
            width: 70%;
            height: 100%;
            padding-left: 1vh;
        }

    }
}

.search-input {
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
    height: 100%;
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

    input {
        width: 85%;
        height: 100%;
        border: none;
        border-radius: 5px;
        outline: none;
    }
}

.search button, .search-search-page button {
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    background-color: $red-color;
    border: 1px solid $red-color;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-right: 10px;
}

.dropdown-calendar {
    position: absolute;
    top: 87%;
    left: 0%;
    border: 0.5px solid $grey-color;
}

.search-results-page {
    width: 100%;

    .nav-bar-search {
        margin-top: 30px;
        background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/dtp-desktop-efc049.png');
        height: 9vh;
        
        .search-search-page {
            display: grid;
            grid-template-columns: 48% 32% 17%;
            column-gap: 1.5%;
            position: relative;
            left: 50%;
            margin-left: -50vh;
            top: 20%;
            height: 55%;
            width: 100vh;
        }
    }
}

.search-grid {
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 22% 75%;
    column-gap: 3%;

    .left-bar-search {
        display: flex;
        flex-direction: column;

        .filter-cities-title {
            font-weight: 500;
            padding: 15px 0;

            i {
                padding-right: 5px;
            }
        }

        input[type='checkbox'] {
            display: inline-block;
        }
    }

    .right-bar-search {
        display: grid;
        grid-template-rows: 5% auto;
        row-gap: 3%;
        width: 100%;


        .search-results-list {
            width: 100%;
            display: grid;
            grid-template-rows: 40px auto;
            height: auto;

            .number-of-places {
                padding: 15px 0;
                font-weight: 500;
            }

            .list-places {
                display: grid;
                grid-auto-rows: 30vh;
            }

            .result-item-info {
                display: grid;
                grid-template-rows: 25px 35px 50px;
                row-gap: 5px;

                .link-place {
                    color: $blue-color;
                    font-weight: 700;
                    font-size: 18px;
                }

                .time-pick-buttons .time-buttons {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: white;
                    font-weight: 700;
                    
                }
            }

            .auth-button {
                padding: 8px 19px;
                text-decoration: none;
            }

            .result-item {
                width: 100%;
                display: grid;
                grid-template-columns: 30% 78%;
                column-gap: 2%;
                padding: 2vh 0;
                height: 100%;
                position: relative;

                .avatar {
                    height: 26vh;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    

                    img {
                        height: 100%;
                    }
                }
    
            }

        }
    }   
}

.footer-background {
    width: 100%;
    background-color: #2d333f;
    color: white;

    a {
        color: inherit;
        text-decoration: inherit;
    }

    ul {
        padding: 0;
    }

    li {
        padding-top: 5px;
    }

    .footer-main {
        padding: 5% 10%;
        display: grid;
        grid-template-columns: 20% 25% 30% 24%;
        column-gap: 2%;

        .discover-links li {
            cursor: pointer;

            a {
                display: grid;
                grid-template-columns: 15% 85%;
            }
        }

        div > span {
            font-weight: bold;
        }
    }
}