@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$max-width: 1600px;
$medium-width: 1050px;
$small-size: 750px; 
$primary-font: system-ui;
$grey-color: #dadada;
$red-color: #da3743;
$blue-color: #247f9e;
$white-grey: #f7f7f7;
$light-grey: #f1f2f4;
$light-blue: #eef8fb;
$light-red: #fceeef;
$light-green: #f0faf3;
$yellow-color: #fdaf08;
$user: url('https://app-opendndtable-seed.s3.amazonaws.com/user.svg');
$arrow-down: url('https://app-opendndtable-seed.s3.amazonaws.com/arrowdown.svg');
$clock: url('https://app-opendndtable-seed.s3.amazonaws.com/clock.png');
$search: url('https://app-opendndtable-seed.s3.amazonaws.com/search.svg');

* {
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    max-width: $max-width;
    height: 100%;
}

.home-nav-right > i {
    font-size: 2vh;
    padding: 12%;
}
.home-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-color;
    background-color: white;

    .home-nav-right {
        display: flex;
        align-items: center;
        margin-right: 3vh;
        cursor: pointer;
        

        .search-logo {
            padding: 0 10px;
            padding-left: 20px;
        }
    }

    .home-nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-left: 3vh;
        
        img {
            height: 40px;
        }

        .clone-name {
            font-weight: bold;
            padding-left: 2%;
            font-family: system-ui;
        }
    }
}

.main-page {
    padding: 0 10%;
    width: 100%;
    display: grid;
    margin-top: 30px;

    .list-of-gps {
        display: grid;
        grid-template-rows: 50px auto;
        width: 100%;
        height: 380px;
        min-width: 600px;
        margin-bottom: 50px;
        
        span:first-child {
            font-size: 20px;
            font-weight: bold;
            height: 100%;
        }

        .gp-list::-webkit-scrollbar {
            display: none;
        }

        .gp-list {
            height: 100%;
            width: 100%;
            padding-top: 30px;
            border-top: 1px solid $grey-color;
            overflow-y: hidden;
            display: flex;
            scroll-behavior: smooth;
            transition: 1s ease-in;

            .game-place-i:hover {
                position: relative;
                transform: translate(0px, -5px);
                box-shadow: 0px 2px 5px $grey-color;
                
            }

            .game-place-i {
                border: 1px solid $grey-color;
                display: inline-block;
                margin: 6px;
                transition: 400ms;
                cursor: pointer;
                
                .avatar {

                    width: 235px;
                    height: 160px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    img {
                        cursor: pointer;
                        object-fit: cover;
                        min-width: 235px;
                        min-height: 160px;
                    }
                }

                .info-box {
                    grid-row-start: 2;
                    position: relative;
                    height: inherit;
                    display: grid;
                    grid-template-rows: repeat(4, 23px);
                    padding-left: 15px;
                    overflow: hidden;
                    width: 94%;
                    padding-top: 10px;
                    
                    .title {
                        height: 23px;
                        width: 300%;
                        position: relative;
                        left: 0;
                        top: 0;

                        a {
                            color: black;
                            cursor: pointer;
                        }
                    }

                    .city {
                        font-size: 14px;
                    }

                    .rating {
                        display: flex;

                        .stars-outer {
                            padding-right: 5px;
                        }

                        div {
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    
                }
            
                .info-box div:first-child {
                    font-weight: bold;
                }



            }
        
        }
    }
}

.city-results {
    font-size: 14px;
}

.booked-icon {
    display: flex;
    align-items: center;

    .fa-chart-line {
        color: black;
    }

    .booked {
        padding-left: 5px;
        font-weight: 700;
        font-size: 13px;
    }
}   

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #d2d1d1;
}

.stars-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: $red-color;
}

.search-box-modal {
    position: relative;
    width: 100%;
    padding: 100px 250px;
    z-index: 3;
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 900px;
    align-items: center;

    .search-text-main {
        color: black;
        padding: 0 20px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .search-reserv-info, .search-input {
        border: 1px solid $grey-color;
    }
    
}

.home-page-header-frame {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://app-opendndtable-seed.s3.amazonaws.com/Tiamat_2560x1600_0.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-main {
    width: 900px;
    display: grid;
    grid-template-rows: 80px 50px auto;
    align-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 600px;
    position: absolute;
    top: 120px;
}

.area-text-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0 auto;
    right: 0;

    h2 {
        margin: 0;
    }
}

.search-text-main {
    color: white;
    height: 80px;
    font-size: 45px;
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.search {
    display: grid;
    grid-template-columns: 48% 32% 17%;
    column-gap: 1.5%;
    width: 100%;
    justify-content: space-between;
    height: 50px;
}

.search-reserv-info {
    display: grid;
    grid-template-columns: 40% 32% 28%;;
    margin-right: 10px;
    width: 100%;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 100%;

}

.info-create-form {
    align-items: center;
    width: 100%;
    height: 100%;

    select {
        -webkit-appearance: none;
        background-image: $user, $arrow-down;
        background-repeat: no-repeat, no-repeat;
        background-size: 18px 18px, 17px 17px;
        background-position: 12px, 90px;
        border: none;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        text-align-last: right;
        padding-right: 40px;
        font-weight: 600;
        border-radius: 5px;
    }

}

select, option {
    text-align: center;
}

.info-create-time {
    border-right: 0.5px solid $grey-color;
    display: grid;
    grid-template-columns: 100% 1%;
    
    select {
        -webkit-appearance: none;
        background-image: $clock, $arrow-down;
        background-repeat: no-repeat, no-repeat;
        background-size: 18px 18px, 17px 17px;
        background-position: 12px, 108px;
        border: none;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        text-align-last: right;
        padding-right: 40px;
        font-weight: 600;
    }
}

.info-create-date {
    border-right: 0.5px solid $grey-color;
    display: grid;
    grid-template-columns: 25px auto;
    column-gap: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    .fa-calendar {
        font-size: 18px;
        display: flex;
        justify-content: center;
    }

}


.fa-chevron-down {
    font-size: 13px;
    padding-left: 10px;
    position: relative;
    top: 2px;
}

.info-create-time > .fa-chevron-down {
    position: relative; 
    padding: 0;
    top: 18px;
    left: -18px;
} 

.search-input {
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
    height: 100%;
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

    input {
        width: 85%;
        height: 100%;
        border: none;
        border-radius: 5px;
        outline: none;
    }
}

.search button, .search-search-page button {
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    background-color: $red-color;
    border: 1px solid $red-color;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-right: 10px;
}

.dropdown-calendar {
    position: relative;
    width: 300px;
    height: 320px;
    background-color: $light-grey;
    top: 0;
    z-index: 1;
    grid-row-start: 3;
}

.dropdown-calendar-main {
    position: absolute;
    top: 110px;
    width: 300px;
    height: 320px;
    left: 0;
    border-radius: 2px;
    border: 1px solid $grey-color;
    background-color: $light-grey;
    z-index: 1;
    grid-row-start: 3;
}

.dropdown-calendar.edit {
    position: absolute;
    top: 325px;
    width: 300px;
    height: 320px;
    border: 1px solid $grey-color;
    background-color: $light-grey;
    border-radius: 5px;
}

.search-results-page {
    width: 100%;

    .nav-bar-search {
        display: grid;
        grid-template-columns: minmax(50px, 20%) 900px minmax(50px, 20%);
        grid-template-rows: 15px 50px 250px;
        margin-top: 30px;
        background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/dtp-desktop-efc049.png');
        height: 80px;
        
        .search-search-page {
            grid-column-start: 2;
            grid-row-start: 2;
            display: grid;
            grid-template-columns: 48% 32% 17%;
            column-gap: 1.5%;
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 0;
            height: 50px;
            width: 900px;
        }

        .dropdown-calendar.search {
            position: relative;
            width: 300px;
            height: 320px;
            top: 0;
            z-index: 1;
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 5;
            border: 1px solid $grey-color;
            border-radius: 2px;
            display: block;
            background-color: $light-grey; 

            
        }
    }
}

.rdrCalendarWrapper {
    width: 90%;
    margin: 5%;
    position: relative;
    top: 0;
    background: $light-grey !important;
}

.rdrMonthAndYearWrapper, .rdrWeekDays {
    padding: 0;
}

.rdrDay, .rdrDayToday, .rdrDayWeekend, .rdrDayEndOfWeek {

        border: 1px solid $grey-color;
        color: transparent;
}

.rdrMonthPicker {
    margin: 0;
    width: 100px;

    select {
        padding: 0;
    }
}

.rdrYearPicker {
    margin: 0;
    width: 50px;

    select {
        padding: 0;
    }
}

.rdrMonthAndYearPickers > span > select {
    font-weight: 600;
    font-size: 17px;
    background: none;
    font-family: $primary-font;
}

.rdrMonth {
    width: 100% !important;
    padding: 0 !important;
}

.rdrDayDisabled {
    background-color: $light-grey !important;
}

.rdrDays > button {
    width: calc(100% / 7);
    background-color: white;
    border: .5px solid $grey-color !important;
    border-radius: 0;
    font-size: 13px;
    margin: 0;
}

.rdrNextPrevButton, .rdrPprevButton {
    width: 30px;
    height: 30px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: $light-grey;
    border: 1px solid  $grey-color;
    border-radius: 100%;
    margin: 0 10px;

    i {
        margin: 0 auto;
    }
}

.search-grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(50px, 18%) 180px 20px 600px minmax(50px, 12%);

    .left-bar-search {
        display: flex;
        flex-direction: column;
        grid-column-start: 2;

        .filter-cities-title {
            font-weight: 500;
            padding: 15px 0;

            i {
                padding-right: 5px;
            }
        }

        .filter-by-city {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        input[type='checkbox'] {
            display: inline-block;
        }

        .filter-0 {
            margin: 5px;
            font-weight: 500;
            border: 1px solid $red-color;
            color: white;
            background-color: $red-color;
            width: 60%;
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
            padding: 3px;
            font-size: 12px;
        }
    }

    .right-bar-search {
        display: grid;
        grid-template-rows: 5% auto;
        row-gap: 3%;
        width: 100%;
        grid-column-start: 4;

        .search-results-list {
            width: 100%;
            display: grid;
            grid-template-rows: auto auto 70px;
            height: auto;

            .number-of-places {
                padding: 20px 0;
                font-weight: 500;
                font-size: 14px;
                border-bottom: 1px solid $light-grey;
            }

            .filter-results-text {
                
                h1 {
                    display: flex;
                    padding: 20px 0;
                    font-weight: 500;
                    font-size: 14px;
                    border-bottom: 1px solid $light-grey;
                }
            }

            .name-results-text {
                font-size: 20px;
                font-weight: 500;
            }

            .filt-buttons-box {
                display: flex;
                padding-left: 20px;
                color: $red-color;

                .x-btn {
                    display: flex;
                    cursor: pointer;

                    &.location {
                        padding-right: 10px;
                    }

                    &.rating {
                        padding-left: 10px;
                    }

                    i {
                        font-size: 15px;
                        padding-left: 5px;
                        padding-top: 1px;
                    }
                }

            }

            .list-places {
                display: grid;
                grid-auto-rows: 250px;
            }

            .result-item-info {
                display: grid;
                grid-template-rows: 45px 20px 20px 20px 40px;
                row-gap: 5px;

                .link-place {
                    color: $blue-color;
                    font-weight: 700;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                }

                .time-pick-buttons .time-buttons {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    
                }

                .stars-outer {
                    position: relative;
                    display: inline-block;
                }

                .stars-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0;
                }
                
                .stars-outer::before {
                    content: '\f005 \f005 \f005 \f005 \f005';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: #d2d1d1;
                }

                .stars-inner::before {
                    content: '\f005 \f005 \f005 \f005 \f005';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: $yellow-color;
                }
            }

            .auth-button {
                text-decoration: none;
                height: 100%;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                cursor: pointer;
            }

            .result-item {
                width: 100%;
                display: grid;
                grid-template-columns: 200px auto;
                column-gap: 20px;
                padding: 2vh 0;
                height: 100%;
                position: relative;

                .avatar {
                    height: 200px;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    

                    img {
                        height: 100%;
                    }
                }
    
            }

        }
    }   
}

.city-box-checkbox {
    display: grid;
    grid-template-columns: 18px auto;
    column-gap: 3px;
    margin-bottom: 3px;
    grid-auto-rows: 18px;

    .icon {
        border-radius: 2px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 2px;
        cursor: pointer;
        
        i {
            visibility: hidden;
            width: 100%;
        }
    }

}

.city-box-checkbox.checked {
    
    .icon {
        background-color: $red-color;
        padding: 2px;
        border: none;
        color: white;
        
        i {
            margin-left: 2px;
            visibility: visible;
        }
    }
}

.footer-background {
    width: 100%;
    background-color: #2d333f;
    color: white;

    a {
        color: inherit;
        text-decoration: inherit;
    }

    ul {
        padding: 0;
    }

    li {
        padding-top: 5px;
    }

    .footer-main {
        padding: 5% 10%;
        display: grid;
        grid-template-columns: 20% 25% 30% 24%;
        column-gap: 2%;

        .discover-links li {
            cursor: pointer;

            a {
                display: grid;
                grid-template-columns: 15% 85%;
            }
        }

        div > span {
            font-weight: bold;
        }
    }
}

.scroll-buttons {
    position: relative;
    bottom: 230px;
    height: 0;
}

.scroll-right {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 98%;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid $grey-color;
    background: white;
    box-shadow: 0px 2px 5px #42424293;
    z-index: 2;
} 

.scroll-right:hover, .scroll-left:hover {
    border: 2px solid $red-color;
}

.scroll-left {
    cursor: pointer;
    position: relative;
    top: 0;
    left: -15px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid $grey-color;
    background: white;
    box-shadow: 0px 2px 5px #42424293;
    z-index: 2;
} 

.destination-box {
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto;

    .explore-title {
        font-size: 20px;
        font-weight: bold;
        height: 100%;
        align-items: flex-start;
        display: flex;
        border-bottom: 1px solid $grey-color;
    }
}

.area-box {
    display: grid;
    grid-template-columns: repeat(4, calc(94% / 4));
    column-gap: 2%;
    width: 100%;
    height: 15rem;
    padding: 30px 20px;
    border-bottom: 1px solid $grey-color;
    min-width: 800px;

    & > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        color: white;
        font-family: $primary-font;
        cursor: pointer;
    }
}

.cities-list-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    padding-bottom: 70px;
    grid-auto-rows: 30px;
    font-weight: 500;
    max-width: 1000px;
    min-width: 800px;

    div {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    div:hover {
        color: $red-color;
    }
}

.east-area {
    background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/east-coast.jpg');
}

.west-area {
    background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/west-coast.jpg');
}

.midwest-area {
    background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/midwest-coast.jpg');
}

.south-area {
    background-image: url('https://app-opendndtable-seed.s3.amazonaws.com/south-coast.jpg');
}

