.header-img {
    width: 100%;
}

.gp-page-box {
    display: grid;
    grid-template-columns: 4fr 400px 100px;
}

.gp-header img {
    width: 100%;
}

.grey-line {
    border: 1px solid #dadada;
    margin: 0% 3%;
}

.right-box-res {
    padding: 0 0% 0 5%;
    margin-top: -4%;
    width: 300px;
}

.right-gpage {

    padding: 0 20% 0 5%;
    display: grid;
    grid-template-rows: 25% 18%;
    row-gap: 3%;

    .reservation-box-new {
        display: grid;
        grid-template-rows: 12% 12% 12% 12% 12% 25%;
        grid-template-columns: 50% 50%;
        row-gap: 3%;
        border: 1px solid #dadada;
        border-radius: 2px;
        justify-content: flex-start;
        background-color: white;
        padding: 6%;
        box-shadow: 5px 5px 5px rgba(226, 225, 225, 0.9);
        font-size: 18px;

        select {
            border: none;
        }

        .make-res-text {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: center;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #f7f7f7;
        }

        
    }

    .info-create-form {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        border-bottom: 1px solid #f7f7f7;
        
    }

    .info-create-date {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        border-bottom: 1px solid #f7f7f7;

    }

    .info-create-time {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        border-bottom: 1px solid #f7f7f7;
    }

    .btn-find {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 8;
        margin: 0;
    }

    .btns-log {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 46% 46%;
        column-gap: 6%;
        margin: 0;

        :first-child {
            background-color: #247f9e;
            border: 1px solid #247f9e;
        }
    }

    .time-buttons {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 3.3%;
        grid-template-rows: 45% 45%;
        row-gap: 10%;

        .auth-button {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
            padding: 0;
            margin: 0;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 90%;
        }
    }

    h1 {
        text-align: center;
        font-size: 80%;
    }
}

.gp-map {
    display: grid;
    grid-template-rows: 80%;
    row-gap: 4%;
    border: 1px solid #dadada;
    border-radius: 2px;
    justify-content: flex-start;
    background-color: white;
    padding: 2%;
    box-shadow: 5px 5px 5px rgba(226, 225, 225, 0.9);

    img {
        width: 100%;
    }
}

.hours-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 6%;
}

.parent-calendar-box {
    position: relative;

    .dropdown-calendar {
        position: absolute;
    }
}

.right-bar-gp-info {
    display: flex;
    border: 1px solid #dadada;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.gp {
    display: flex;
    padding: 0 10%;
    align-items: flex-start;
}


.gp-page-box {
    margin-top: -4%;
}

.left-gpage {
    display: grid;
    grid-template-rows: 64px 120px 200px 400px 200px;
    grid-template-columns: 25% 70% 5%;
    background: transparent;
}

.gp-info-navbar {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 20% 2.4% 3%;
    background-color: white;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    font-size: 16px;
    font-weight: 550;
    
}

.gp-info-box {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 5% 3%;
    
    h1 {
        font-size: 40px;
        margin: 0;
    }
    // padding: 5% 25% 5% 3%
}

.gp-description {
    grid-column-start: 2;
    grid-column-end: 3;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 5% 3%;
}

.review-submit {
    grid-column-start: 2;
    padding-left: 3%;
}

input[type="radio"] {
   display: none; 
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.gp-gallery {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 32% 32% 32%;
    column-gap: 1.5%;
    row-gap: 1.5%;
    padding-left: 3%;
    margin: 0;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
    
}

.review-create-box {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25%;
    row-gap: 8%;
}

.create-a-review {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
}

.review-create-box > form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
    

    .submit-textarea {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            background-color: #da3743;
            border: 1px solid #da3743;
            border-radius: 5px;
            color: white;
            height: 30%;
            width: 40%;
        }
    }
}

.rating-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

// .submit-textarea {
//     grid-column-start: 2;
//     grid-column-end: 3;
//     grid-row-start: 2;
// }

.reviews-box {
    grid-column-start: 2;
    grid-column-end: 3;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 5% 3%;
    display: grid;
    grid-auto-rows: 200px;
    column-gap: 50px;
}

.review-box {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 30px 30px;
}

.avatar-player {
    position: relative;

    .nameabb {
        position: absolute;
        top: 25px;
        left: 46px;
    }
}

.background-theme {
    border-radius: 100%;
    height: 100%;
    margin: 0 35px;
    background-color: violet;
}

.player-info-review {
    position: absolute;
    display: grid;
    grid-auto-rows: 50px 30px 30px;
    text-align: center;
}

.review-item {
    display: grid;
    grid-template-columns: 100px;
    column-gap: 50px;
}

.confirmation-box {
    padding: 5% 10% 0 10%;
    .res-details {

        img {
            width: 100px;
            height: auto;
        }
    }
}
