body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d333f;
}

span {
    font-weight: bold;
    font-size: 15px;
}

#root {
    padding: 20px 100px;
}