body {
    background-color: #dadada;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d333f;
}

span {
    font-weight: bold;
    font-size: 15px;
}

#root {
    background-color: white;
    margin: 20px 50px;
}