@import 'body';

.profile-page {
    display: grid;
    grid-template-columns: 15% 180px 60% auto;
    background-color: $white-grey;
}

.profile-bar {
    padding: 2% 0% 2% 15%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid $white-grey;
    border-bottom: 1px solid $white-grey;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 35px;
    font-weight: 640;

    span {
        font-size: 15px;
        font-weight: 600;
    }
}

.profile-left-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    color: #818181;
    margin-top: 0px;
    padding-top: 40px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;

    .active {
        color: black;
        font-weight: 650;
    }

    div {
        padding-bottom: 20px;
        cursor: pointer;
    }
}

.upcoming-reses {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    background-color: white;
    border-top: 1px solid $white-grey;
    border-bottom: 1px solid $white-grey;
    margin: 30px 0;
    box-shadow: 0px 2px 0px $grey-color;
    border-radius: 5px;
}

.review-create-box-profile {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 2%;
    height: 100%;

    .auth-button {
        width: 150px;
        height: 30px;
        padding: 0;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;
    }
}

.past-reses {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: white;
    border-top: 1px solid $white-grey;
    border-bottom: 1px solid $white-grey;
    margin-bottom: 30px;
    box-shadow: 0px 2px 0px $grey-color;
    border-radius: 5px;
    
    h2 {
        font-size: 15px;
    }

    .info-past {
        display: flex;
        flex-direction: column;
        
        div {
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 5px;
            margin: 0;
        }
    }

    .red-text {
        height: 35px;
        display: flex;
        align-items: center;

        h2 {
            margin: 0;
            font-size: 14px;
            font-weight: 550;
            padding-left: 5px;
        }
    }

    .edit-text, .delete-text {
        display: flex;
        align-items: center;
        color: $red-color;
    }

    .write-review {
        display: flex;
        width: 52%;
        align-items: center;
        justify-content: space-around;

        .write-text {
            display: flex;
            padding-left: 15px;
            color: #da3743;
            font-weight: 500;
            align-items: center;
            cursor: pointer;

            h2 {
                padding: 3px 0;
                font-size: 14px;
                font-weight: 500;
            }

            i {
                padding-right: 10px;
            }
        }

    }

    .res-index .res-box-info {
        display: grid;
        grid-template-columns: 25px 100px auto;
        grid-template-rows: 100px auto;
    }

    .gp-name {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gp-logo {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 100%;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        padding: 12px 0 70px 0;

        img {
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .btn-group {
        display: flex;
        flex-direction: column;

        div {
            padding: 3px 0;
            font-size: 14px;
        }

        .save-fav {
            display: flex;
            padding-left: 15px;
            color: $red-color;
            font-weight: 500;
            align-items: center;

            i {
                padding-right: 10px;
            }
        }
    }
}

.text-up {
    padding: 35px 45px;
    font-size: 25px;
    font-weight: 600;
}

.res-index {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;

    .res-box-info {
        display: grid;
        grid-template-columns: 25px 100px auto;
        column-gap: 20px;
        border-top: 1.5px solid $white-grey;
        border-bottom: 1.5px solid $white-grey;
        padding: 2% 3;
        background-color: white;

        .gp-logo {
            grid-column-start: 2;
            height: 100%;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            padding: 12px 0 45px 0;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        .table {
            font-size: 14px;
        }

        .gp-name {
            display: flex;
            flex-direction: column;
            padding: 12px 0 40px 0;
            font-weight: 500;

            span {
                padding-bottom: 1%;
            }
            :first-child span {
                font-weight: bold;
            }
        }

        .text-info-res {
            grid-column-start: 3;
            grid-row-start: 2;
            display: flex;
            flex-direction: row;
            padding: 2% 0 1% 0;
            font-size: 17px;

        }

        .btn-group {
            display: flex;
            grid-column-start: 2;
            font-size: 14px;
            
            a {
                font-weight: 500;
                color: #247f9e;
                border: none;
                background: none;
                padding-right: 10px;
                padding-top: 5px;
            }
        }
    }
}

.show-review {
    margin-right: 30px;
    margin-top: 10px;
    border: 1px solid $grey-color;
    border-radius: 5px;
    padding: 10px;
    max-width: 500px;
    min-width: 400px;

    p {
        color: rgb(156, 155, 155);
        font-weight: 500;
        margin: 0;
    }

    .desc-p {
        font-weight: 400;
        color: black;
    }
}

.show-review > .rating-box-rate {
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}   