@import 'body';

.reservation-completion {
    grid-template-columns: 200px 600px 50px 300px 100px;
    display: grid;
    padding-top: 2%;
    height: 900px;
}

.reservation-completion-form {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 40px 160px 40px 20px 90px 20px 40px 40px 250px;
    align-items: center;
    padding-left: 5px;
    
    .almost-done {
        font-size: 20px;
        font-weight: bold;
         p {
            margin: 0;
            padding-bottom: 4%;
         }
    }
}

.right-bar-info {
    grid-column-start: 4;
    
    img {
        width: 100%;
    }

    h1 {
        font-size: 100%;
    }

    p {
        font-size: 90%;
    }
}

.res-info-in-conf {
    display: grid;
    grid-template-columns: 170px;
    column-gap: 5%;

    .reservation-info {
        grid-column-start: 2;
        padding: 0;

        div:first-child {
            padding-bottom: 10px;
            font-size: 150%;
            font-weight: 600;
        }
    }
    
    img {
        width: 100%;
    }

    .res-info-conf {
        display: grid;
        grid-template-columns: 15px 7px 120px 15px 7px 100px 15px 7px 100px;
        width: 70%;
        font-weight: 500;
    }
}

.reservation-completion-box {
    display: grid;
    height: 100%;
}

.player-contacts {
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;

    div:first-child {
        display: grid;
        grid-template-columns: 20% 80%;
        height: 70%;

        input {
            border-left: none;
        }
    }

    div:last-child {
        display: grid;
        height: 70%;
    }
}

.view-conf-box {
    grid-template-columns: 300px 600px 60px 260px;
    display: grid;
    grid-template-rows: 300px 330px;
    row-gap: 25px;
    margin: 50px 0 80px 0;
    background-color: transparent;
}

.user-info-box {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 200px;
    border: 1px solid $grey-color;
    box-shadow: 0px 2px 5px $grey-color;
    padding: 25px;
    display: grid;
    grid-template-rows: 40px 40px 35px 35px;
    font-weight: 500;
    background-color: white;

    .u-name span {
        font-size: 23px;
    }

    .joined-info{
        padding-left: 25px;
    }

    i {
        font-size: 20px;
        padding-right: 10px;
    }
}

.conf-box-parent {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    border: 1px solid $grey-color;
    box-shadow: 0px 2px 5px $grey-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.what-to-know {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 30px 30px 0 30px;
    border: 1px solid $grey-color;
    box-shadow: 0px 2px 5px $grey-color;
    background-color: white;

    .res-add-info-edit textarea {
        width: 100%;
        height: 60px;
    }

    .auth-button {
        width: 80px;
        height: 30px;
        position: relative;
        left: 440px;
        bottom: 50px;
        padding: 0;
        margin: 0;
    }

    .what-to-know-i {
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-weight: 500;
        font-size: 20px;
    }
}

@keyframes textareaAnimation {
    0% {
        height: 60px;
    }
    100% {
        height: 100px;
    }
}

@keyframes textareaBack {
    0% {
        height: 100px;
    }
    100% {
        height: 60px;
    }
}

.buttons-res-view {
    display: flex;
    height: 100px;
    align-items: center;
    padding-left: 20px; 
}

.edit-input {
    display: grid;
    grid-template-columns: 22% 22% 40%;
    grid-template-rows: 60% 30%;
    column-gap: 6%;

     select {
            width: 100px;
            font-size: 80%;
            border: none;
            border-bottom: 1px solid #dadada;
            padding: 15px 10px;
        }

    .input-time {
        grid-column-start: 1;
        
        select {
            width: 100px;
            font-size: 80%;
            border: none;
            border-bottom: 1px solid #dadada;
            padding: 15px 10px;
        }
    }
    .time-buttons {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        li {
            padding: 20px 5px;
        }

    }
}


.confirmation-box {
    height: 100%;
    width: 100%;
}

.cancel-box {
    display: grid;
    grid-template-columns: 20% 20% 50% 10%;
    grid-template-rows: 30% 40% 30%;

    .auth-button {
        grid-row-start: 3;
        grid-column-start: 2;
    }
}

.cancel-message {
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: bold;
    font-size: 200%;
}

.cancel-info {
    grid-row-start: 2;
    grid-column-start: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    span {
        font-weight: bold;
        font-size: 120%;
    }
}

.cancel-avatar {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    align-content: center;

    img {
        width: 150px;
    }
}

.countdown {
    width: 100%;
    height: 100%;
    
}

.countdown-message {
    display: flex;
    align-items: center;
    background-color: $light-blue;
    padding-left: 5px;
    width: 100%;
    height: 100%;

    span:first-child {
        padding: 0 6px;
    }
    
    span:last-child {
        font-weight: 600;
    }
}

.countdown-over-mess {
    background-color: $light-red;
    height: 100%;
    padding-left: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.game-session-details {
    font-weight: 500;
}

.user-info-res {
    width: 100%;
    display: flex;

    div:first-child {
        font-weight: 500;
    }

    .modal {
        color: $red-color;
        cursor: pointer;
    }
}

.reserv-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
        font-size: 14px;
    }

    span:first-child {
        font-size: 26px;
        font-weight: 600;
        padding: 15px 0;
    }
}

.grid-line {
    border-bottom: 1px solid $grey-color;
    width: 100%;
}