body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d333f;
}

li {
    list-style-type: none;
}

#root {
    background-color: white;
    margin: 0 5%;
}

#map-container {
    width: 500px;
}