.home {
    width: 100%;
    height: 100%;  
}

.home-nav {
    // grid-column-start: 1;
    // grid-column-end: 4;
}

.home-page-img {
    width: 100%;
}

.main-page {
    padding: 0 10%;
}

.location-message {
    padding: 1.5% 0% 2% 0;
    font-size: 12px;
    border-bottom: 1px solid #dadada;

    span, i {
        padding-right: 1%;
    }
    .red-text, i {
        color: #da3743;
    }
}

.list-of-gps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span:first-child {
        padding: 2% 2% 2% 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.gp-list {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-auto-flow: row;
    grid-column-gap: 2.5%;
    grid-row-gap: 20%;
    padding-top: 2%;
    border-top: 1px solid #dadada;

    .avatar img {
        width: 100%;
        padding-bottom: 5%;
    }

}

.game-place-i {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 3%;
    border: 1px solid #dadada;
    box-sizing: content-box;
    height: 100%;
    font-size: 1.3vw;

    i {
        color: #da3743;
    }

    .info-box {
        grid-row-start: 2;
        position: relative;
        height: inherit;
        display: flex;
        padding-left: 5%;
        padding-bottom: 5%;
        flex-direction: column;
        justify-content: space-around;
    }

    .info-box div:first-child {
        font-weight: bold;
    }
}

// .footer {
//     // grid-area: 5 / 2 / 6 / 3;
// }

