.home {
    width: 100%;
    height: 100%;  
}

// .home-nav {
//     // grid-column-start: 1;
//     // grid-column-end: 4;
// }

// .home-page-img {
//     width: 100%;
// }



.location-message {
    padding: 1.5% 0% 2% 0;
    font-size: 12px;
    border-bottom: 1px solid #dadada;

    span, i {
        padding-right: 1%;
    }
    .red-text, i {
        color: #da3743;
    }
}







// .footer {
//     // grid-area: 5 / 2 / 6 / 3;
// }

